.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
scripts/**
development.md
esbuild.js
client/src/**
client/test/**
client/testFixture/**
server/src/**
client/node_modules/**
server/node_modules/**
node_modules/**
# Ensure schema template is included in package
!liana_authoring_environment_template/**